.menu__sidebar{
    //background-color: rgb(129, 180, 224);
    

}
.menu__sidebar__ul{
    //background-color: rgb(152, 229, 229);
    list-style: none;
    margin: 0;
    padding: 1rem 0;

}

.menu__sidebar__ul .menu-item{//li
    margin: .5rem 0;

}
.menu__sidebar__ul .menu-item a { // a
    padding: 0.5rem;
    line-height: 1.5rem;
    
}

.menu__sidebar__ul .menu-item a:hover { // a

    background-color: lighten($color__background-zonegrid, 30%);   
}

